<!Doctype html>
<html lang="en">

<head>
    <title>
        Fast-Food-Fast | History
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/historyStyles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/ffflogo.png" />

</head>

<body>

    <div class="modal modal2">
        <p>An error occured while retrieving all your orders history, please try again</p>
        <button class="reject-btn" onclick="closeModal('.modal2')">Ok</button><br /><br />
    </div>
    <div class="modal modal3">
        <p>You have no history of ordered food, thank you.</p>
        <button class="reject-btn" onclick="closeModal('.modal3')">Ok</button><br /><br />
    </div>
    <div class="modal modal1">

    </div>
    <div class="blur">

        <header>
            <nav>
                <div class="nav-bar">
                    <a href="https://fast-food-fast.herokuapp.com/dashboard.html" class="site-name">
                        <img src="images/ffflogo.png" alt="ffflogo" class="logo" /> <strong>Fast-Food-Fast</strong>
                    </a>
                    <a href="https://fast-food-fast.herokuapp.com/orders.html" class="order">Order a meal</a>
                    <a onclick="logout()" class="history">Sign Out</a>
                    <button onclick="showLocation('https://fast-food-fast.herokuapp.com/history.html')" class="signout">HISTORY</button>
                    <button class="hamburger" onclick="showNavbar('.tab-modal')">&#9776;</button>
                    <div class="tab-modal">
                        <div class="tab-modal-link">
                            <a href="https://fast-food-fast.herokuapp.com/orders.html">Order a meal</a>
                            <br />
                            <br />
                            <hr />
                            <br />
                            <a href="https://fast-food-fast.herokuapp.com/history.html">History</a>
                            <br />
                            <br />
                            <hr />
                            <br />
                            <a onclick="logout()">Sign Out</a>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </nav>

        </header>

        <div class="slide0">
            <p><br />
                <span class="centre"><strong>Order History</strong></span><br /><br />
                <div class="blur2">
                    <div class="flex">
                        <div class="flex-items"><br /><br /><br /><br /><br />
                            <table class="second-table">
                                <span class="spinner"></span>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="./history.js"></script>

</body>

</html>