<!Doctype html>
<html lang="en">

<head>
    <title>
        Fast-Food-Fast | 404(Page not found)
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/signinStyles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/ffflogo.png" />

</head>

<body>

    <div class="slide-signin flex">

        <div class="app-description">
            <a href="https://fast-food-fast.herokuapp.com/index.html">
                <img src="images/ffflogo.png" alt="ffflogo" class="logo" /><strong>Fast-Food-Fast</strong>
            </a>
            <br/>
            <br/> 404 (Page not found)
        </div>

        <div class="signin-box">
            <div class="signin-properties">
                <p>Sorry the page you are looking for does not exist or it might have been removed.
                    Please click <a href="https://fast-food-fast.herokuapp.com/index.html">here</a> to go back to home page
                </p>
            </div>
            <br/>
        </div>

    </div>

</body>

</html>