<!Doctype html>
<html lang="en">

<head>
    <title>
        Fast-Food-Fast | A food delivery service app for a restaurant
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/orderStyles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/ffflogo.png" />

</head>

<body>
    <div class="modal">
        <p>An error occured while retrieving available menu, please try again </p>
        <button class="accept-btn" onclick="closeModal('.modal')">Ok</button><br /><br />
    </div>
    <div class="modal modal2">
        <p>Cart cannot be empty</p>
        <button class="accept-btn" onclick="closeModal('.modal2')">Ok</button><br /><br />
    </div>
    <header>
        <nav>
            <div class="nav-bar">
                <a href="https://fast-food-fast.herokuapp.com/dashboard.html" class="site-name">
                    <img src="images/ffflogo.png" alt="ffflogo" class="logo" /> <strong>Fast-Food-Fast</strong>
                </a>
                <a href="https://fast-food-fast.herokuapp.com/history.html" class="order">History</a>
                <a onclick="logout()" class="history">Sign Out</a>
                <button onclick="showLocation('https://fast-food-fast.herokuapp.com/orders.html')" class="signout">ORDER</button>
                <button class="hamburger" onclick="showNavbar('.tab-modal')">&#9776;</button>
                <div class="tab-modal">
                    <div class="tab-modal-link">
                        <a href="https://fast-food-fast.herokuapp.com/orders.html">Order a meal</a>
                        <br/>
                        <br/>
                        <hr/>
                        <br/>
                        <a href="https://fast-food-fast.herokuapp.com/history.html">History</a>
                        <br/>
                        <br/>
                        <hr/>
                        <br/>
                        <a onclick="logout()">Sign Out</a>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <div class="slide0">
        <div class="blur"></div>
        <p><br/>
            <span class="centre"><strong>Make your order</strong></span><br/><br/>
            <button class="toggle-cart" onclick="showCart('.cart')">Show Cart</button><br/><br/>
            <div class="blur2">
                <div class="flex">
                    <div class="flex-items cart">
                        <p><strong>Cart</strong></p>
                        <table class="first-table">
                            
                        </table>
                    </div>
                    <div class="flex-items">
                        <p><strong>Delicious Meals</strong></p>
                        <table class="second-table">
                            <div class="spinner"></div>
                        </table>
                    </div>
                    <div class="flex-items">
                        <p><strong>Checkout</strong></p>
                        <table class="third-table">
                            <tr>
                                <td>
                                    Delivery Location
                                    <select class="location">
                                        <option>Abuja</option>
                                        <option>Lagos</option>
                                        <option>Port Harcourt</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Delivery Date &#10236; <span class="date"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radio"> Pay on Delivery
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radio"> Pay with debit card <img src="images/debit_card.png" class="debit-card"
                                        alt="debit card" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="order-button" onclick="orderResponse()">
                                        <span class="orderValue">Order</span> <span class="orderSpinner"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <div class="feedback"></div>
                    </div>
                </div>
            </div>
    </div>

    <script src="./orders.js"></script>

</body>

</html>