* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgba(243, 38, 38, 0.7);
    cursor: pointer;
}

.accept-btn {
    background-color: rgba(111, 50, 192, 0.5);
    color: white;
    width: 80%;
    margin-left: 0;
    height: 2.8em;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

.accept-btn-big {
    width: 100%;
}

.bigdiv {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    width: 100%;
    display: flex;
}

.bigdiv div {
    margin: 0 auto;
}

.bigdiv2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    width: 100;
    display: flex;
}

.bigdiv2 p {
    margin-left: 3%;
}

.bigdiv2 p {
    margin: 0 auto;
}

.blur {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 255, 255, 0.45);
    width: 100%;
    margin: 0;
    display: block;
    height: 100%;
    overflow: auto;
    padding: 2em 0 15em 0;
}

.blur2 {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 255, 255, 0.45);
    width: 95%;
    margin: 0 0 4em 2em;
    padding: 0 1.5em 6em 0;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url('../images/fast-food-fast-1.png') no-repeat 0 -15em;
    background-size: cover;
    background-attachment: fixed;
}

body p {
    color: red;
}

button {
    background-color: rgb(230, 73, 73);
    color: white;
    border-radius: 5px;
    width: 10%;
    height: 45px;
    margin-left: 38%;
    outline: none;
    font-size: 14px;
    border: 0;
}

button:active {
    transform: translateY(3px);
    border-radius: 5px;
}

button:hover {
    opacity: 0.7;
    border: 0;
    color: white;
    cursor: pointer;
}

.centre {
    margin-left: 37%;
    color: red;
    font-size: 25px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0.5em;
}

.edit-btn {
    background-color: yellowgreen;
    color: white;
    width: 80%;
    margin-left: 0;
    height: 2.8em;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

.feedback {
    display: none;
    background-color: plum;
    padding: 0.5em 0 0.2em 0.5em;
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}

.flex {
    display: flex;
}

.flex-items {
    margin-left: 3%; 
    width: 90vw;
}

.flex-items p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    height: 47px;
    width: 40%;
    outline: none;
    border: 1.5px solid rgba(0,0,255,0.3);
    text-overflow: ellipsis;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 30%;
}

input:focus {
    box-shadow: 1px 0px 6px 2px rgba(116, 116, 199, 0.5);
}

.hamburger {
    display: none;
}

.history {
    font-size: 20px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 15%;
    margin-left: 3%;
    color: white;
}

.history:hover {
    color: red;
    padding: 0.3em;
}

img {
    height: 20px;
    width: 3em;
    border-radius: 100%;
}

.logo {
    height: 25px;
    width: 3%;
}

.modal {
    background-color: rgba(0,0,0,0.95);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: none;
}

.modal p {
    margin-top: 10%;
    text-align: center;
    color:rgb(252, 227, 6);
    font-size: 30px;   
    font-family: 'Ubuntu Condensed', sans-serif;
}

.modal button {
    margin-left: 45%;
    width: 12%;
}

.modal1,.modal2 {
    display: none;
}

.modal5 table{
    margin: 0 15% 0 15%;
    width: 70%;
    box-shadow: unset;
}

.modal5 table td {
    padding-left: 22%;
}

.nav-bar {
    font-size: 14px;
    color: red;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 10vh;
    width: 100%;
    padding: 0.44em 0 1.25em 0.44em;
    text-align: center;
}

.nav-bar button{
    margin-left: 3%;
}

.order {
    margin-left: 35%;
    font-size: 20px;
    color: white;
}

.order:hover {
    color: red;
}

.orderstable button {
    background-color: rgba(111, 50, 192, 0.5);
    color: white;
    width: 80%;
    margin-left: 0;
    height: 2.8em;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

.orderstable .reject-btn {
    background-color: rgb(230, 73, 73);
    color: white;
    width: 80%;
    margin-left: 0;
    height: 2.8em;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

p {
    font-size: 20px;
}

.quick-access button{
    background-color: rgba(0, 255, 255, 0.8);
    height: 3.5em;
    font-size: 16px;
    width: 15%;
    margin-left: 3%;
    border: 1px solid plum;
    font-family: 'Ubuntu Condensed', sans-serif;
    border-radius: 0;
    padding: 0.5em;
    color: red;
}

.reject-btn {
    background-color: rgb(230, 73, 73);
    color: white;
    width: 80%;
    margin-left: 0;
    height: 2.8em;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

.search-btn {
    background-color: rgb(230, 73, 73);
    color: white;
    width: 6.8%;
    height: 2.8em;
    margin-left: 0;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

.search-history {
    height: 2.8em;
    width: 30%;
    margin-left: 61%;
    outline: none;
    border: 1.5px solid rgba(0,0,255,0.3);
    text-overflow: ellipsis;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.search-history:focus {
    box-shadow: 1px 0px 6px 2px rgba(116, 116, 199, 0.5);
}

select {
    width: 60%;
    height: 47px;
    outline: none;
    border: 1.5px solid rgba(0,0,255,0.3);
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
}


select:focus {
    box-shadow: 1px 0px 6px 2px rgba(116, 116, 199, 0.5);
}

.site-name {
    font-size: 24px;
}

.slide0 {
    background: url('../images/site_image.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh; 
    width: 100%; 
}

.slide0 p { 
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-top: 3.5%; 
    margin: 0;
}

 .specific-order-table {
    display: none;
}

.specific-order-table button {
    background-color: rgba(111, 50, 192, 0.5);
    color: white;
    width: 100%;
    margin-left: 0;
    height: 2.8em;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

.specific-order-table .reject-btn {
    background-color: rgb(230, 73, 73);
    color: white;
    width: 100%;
    margin-left: 0;
    height: 2.8em;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

.spinner {
    width: 12%;
    height: 20vh;
    border-top: 15px solid rgb(228, 95, 95);
    border-radius: 100%;
    animation: cyclic 1s infinite;
    display: block;
    position: absolute;
    z-index: 1;
    margin-left: 43%;
}

.spinner2 {
    display: none;
}


@-webkit-keyframes cyclic {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes cyclic {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tab-modal {
    display: none;
}

table {
    border-collapse: collapse;
    background-color: white;
    color: rgba(99, 87, 87, 0.9);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    box-shadow: 1px 6px 6px 3px rgba(116, 116, 199, 0.5);
    font-family: 'Ubuntu Condensed', sans-serif;
}

td {
    padding: 10px 10px 10px 30px;
}

th {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgba(99, 87, 87, 0.2);
}

.second-table td {
    padding: 10px 10px 10px 60px;
}

.specific-order-table td, .specific-order-table th {
    padding: 10px 10px 10px 80px;
}

/* High resolution laptops */
@media (min-width: 1366px) {

    .img {
        height: 40px;
    }

    .quick-access button {
        margin-left: 2.3%;
    }

    .search-btn {
        width: 6%;
    }

    .second-table td {
        padding: 10px 10px 10px 90px;
    }
}

/* High resolution tablets */
@media (min-width: 768px) and (max-width: 1023px) {
   
    .accept-btn,.reject-btn,.edit-btn {
        width: 100%;
    }

    .blur {
        height: 83.5em;
    }

    .blur2 {
        height: 47em;
    }
    
    body {
        width: 100%;
        padding: 0;
        margin: 0;
        background: url('../images/fast-food-fast-1.png') no-repeat 0 -10em;
        background-size: cover;
        background-attachment: fixed;
    }

    .centre {
        margin-left: 40%;
    }
    
    .orderstable button {
        width: 100%;
    }

    .flex-items {
        width: 90vw;
        overflow-x: auto;
    }


    .hamburger {
        display: inline;
        position: absolute;
        left: 84%;
        padding: 0;
        font-size: 30px;
    }

    .history, .signout, .order {
        display: none;
    }

    .nav-bar {
        text-align: unset;
    }
        
    .tab-modal {
        background-color: rgba(93, 81, 134, 0.5);
        position: fixed;
        top: 4.5em;
        right: 0;
        height: 43vh;
        width: 40%;
    }

    .tab-modal-link {
        margin-top: 10%;
        padding-top: 15px;
        text-align: center;
    }

    .tab-modal-link a {
        color:rgb(252, 227, 6);
        font-size: 20px;   
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .tab-modal-link a:hover {
        color: white;
        padding: 0.2em;
    }

    .search-btn {
        width: 8%;
    }
       
    .second-table td {
        padding: 10px 10px 10px 30px;
    }
    
    .quick-access button {
        width: 33%;
        height: 4em;
        margin: 0 0 2% 35%;
    }

     
    
}

/*Low resolution Tablets*/
@media (min-width: 481px) and (max-width: 767px) {

    .accept-btn,.reject-btn,.edit-btn {
        width: 100%;
    }

    
    .blur {
        height: 92.5em;
    }

    .blur2 {
        height: 50em;
        margin-left: 0.8em;
    }

    body {
        width: 100%;
        padding: 0;
        margin: 0;
        background: url('../images/fast-food-fast-1.png') no-repeat 0 -1em;
        background-size: cover;
        background-attachment: fixed;
    }

    .centre {
        margin-left: 20%;
    }

    .flex {
        display: block;
    }

    .flex-items {
        width: 90vw;
        overflow-x: auto;
    }

    
    .orderstable button {
        width: 100%;
    }

    .hamburger {
        display: inline;
        position: absolute;
        left: 84%;
        padding: 0;
        font-size: 30px;
    }

    .history, .signout, .order {
        display: none;
    }
   
    .logo {
        width: 6%;
    }

    .nav-bar {
        text-align: unset;
    }
    
    .slide0 p { 
        padding: 10% 0 0 8%; 
        font-size: 30px;
    }

    .spinner {
        width: 15%;
        height: 25vh;
        margin-left: 40%;
        margin-bottom: 3%;
    }

    .tab-modal {
        background-color: rgba(93, 81, 134, 0.5);
        position: fixed;
        top: 4.5em;
        right: 0;
        height: 43vh;
        width: 40%;
    }

    .tab-modal-link {
        margin-top: 10%;
        padding-top: 15px;
        text-align: center;
    }

    .tab-modal-link a {
        color:rgb(252, 227, 6);
        font-size: 20px;   
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .tab-modal-link a:hover {
        color: white;
        padding: 0.2em;
    }

    .search-btn {
        width: 17vw;
    }

    .search-history {
        width: 40%;
        margin-left: 40%;
    }
    
    .second-table td {
        padding: 10px 10px 10px 20px;
    }

    .quick-access button {
        width: 50%;
        height: 4em;
        margin: 0 0 2% 25%;
    }

}
/*SmartPhones*/
@media (min-width: 1px) and (max-width: 480px) {

    .accept-btn,.reject-btn,.edit-btn {
        width: 100%;
    }

    .modal .accept-btn, .modal .reject-btn {
        width: 30vw;
        margin-left: 35%;
    }
    
    .blur {
        height: 94.5em;
    }

    .blur2 {
        height: 52em;
        margin-left: 0.8em;
    }

    body {
        width: 100%;
        padding: 0;
        margin: 0;
        background: url('../images/fast-food-fast-1.png') no-repeat 0 -1em;
        background-size: cover;
        background-attachment: fixed;
    }

    .brk {
        margin-bottom: 0.5em;
    }

    .centre {
        margin-left: 20%;
    }
    
    .edit-btn, .reject-btn {
        width: 87%;
    }


    .flex {
        display: block;
    }

    .flex-items {
        width: 90vw;
        overflow-x: auto;
    }

    form {
        margin-left: 15%;
    }
    
    .orderstable button {
        width: 100%;
    }

    .hamburger {
        display: inline;
        position: absolute;
        left: 84%;
        padding: 0;
        font-size: 25px;
    }

    .history, .signout, .order {
        display: none;
    }
   
    .logo {
        width: 8%;
    }

    .modal .form input {
        width: 80%;
        margin-left: 1%;
    }

    .modal input {
        width: 80%;
        margin-left: 10%;
    }
    
    .modal p {
        font-size: 20px;  
    }

    .nav-bar {
        text-align: unset;
    }
    
    .slide0 p { 
        padding: 10% 0 0 8%; 
        font-size: 30px;
    }

    .spinner {
        width: 25%;
        height: 15vh;
        margin-left: 40%;
        margin-bottom: 3%;
    }

    .tab-modal {
        background-color: rgba(93, 81, 134, 0.5);
        position: fixed;
        top: 4.5em;
        right: 0;
        height: 43vh;
        width: 40%;
    }

    .tab-modal-link {
        margin-top: 10%;
        padding-top: 15px;
        text-align: center;
    }

    .tab-modal-link a {
        color:rgb(252, 227, 6);
        font-size: 20px;   
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .tab-modal-link a:hover {
        color: white;
        padding: 0.2em;
    }

    .search-btn {
        width: 17vw;
    }

    .search-history {
        width: 40%;
        margin-left: 40%;
    }

    .second-table td {
        padding: 10px 10px 10px 20px;
    }

    .quick-access button {
        width: 75%;
        height: 4em;
        margin: 0 0 2% 13%;
    }

}