* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgba(243, 38, 38, 0.7);
    cursor: pointer;
}

.app-description {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.44em 0 1.25em 0;
    font-size: 25px;
    color: black;
    width: 80%;
    margin: 0 auto; 
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif;
}

.app-description a {
    font-size: 24px;
}

.blur {
    z-index: -1;
    background-color: rgba(0, 255, 255, 0.45);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.blur2 {
    z-index: 1;
    background-color: rgba(0, 255, 255, 0.8);
    height: 80vh;
    width: 40%;
    margin: 0 auto;
    padding-right: 2.8em;
}

body {
    padding: 0;
    margin: 0;
}

body p {
    color: white;
    font-size: 40px;
    font-family: cursive;
}

button {
    background-color: rgb(230, 73, 73);
    color: white;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
    border-radius: 5px;
}

button:hover {
    opacity: 0.7;
    border: 0;
    color: white;
}

.dashboard-properties {
    padding: 0;
}

.dashboard-properties p {
    font-size: 23px; 
}

.dashboard-properties a:hover {
    opacity: 0.8;
}

form {
    margin-left: 10%;
}

.hamburger {
    display: none;
}

input {
    height: 47px;
    width: 100%;
    outline: none;
    border: 1.5px solid rgba(0,0,255,0.3);
    text-overflow: ellipsis;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

input:focus {
    box-shadow: 1px 0px 6px 2px rgba(116, 116, 199, 0.5);
}

img {
    height: 100px;
    width: 6em;
    border-radius: 100%;
    margin-left: 50%;
}

.logo {
    height: 25px;
    width: 6%;
    margin-left: 0.3em;
}

p {
    font-size: 20px;
}

.primary {
    background-color: rgba(0,0,255,0.5);
}

.slide-dashboard {
    background: url('../images/fast-food-fast-1.png') no-repeat 0 -15em;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
    width: 100%; 
}

.slide-dashboard p { 
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 3% 0 0 8%; 
    margin: 0;
}

.signout {
    border-radius: 0;
}

.tab-modal {
    display: none;
}

.update {
    margin-left: 10%;
    height: 45px;
    width: 90%;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;  
}



/* High resolution tablets */
@media (min-width: 1366px) {
    .nav-bar {
        margin-left: 2.5%;
    }
    
   .hamburger {
    display: none;
    }
}

/* High resolution tablets */
@media (min-width: 768px) and (max-width: 1023px) {

   button {
       width: 18.5%;
   }
   .hamburger {
       display: none;
   }
    
}
/*Low resolution Tablets*/
@media (min-width: 480px) and (max-width: 767px) {
    
    .slide-dashboard {
        background-position: center;
    }

    .blur2 {
        width: 90%;
    }

    .hamburger {
        display: inline;
        position: absolute;
        left: 75%;
        padding: 0;
        font-size: 30px;
    }

      
    .tab-modal {
        background-color: rgba(93, 81, 134, 0.7);
        position: fixed;
        top: 4.5em;
        right: 0;
        height: 65vh;
        width: 50%;
        z-index: 2;
    }

    .tab-modal-link {
        margin-top: 10%;
        padding-top: 15px;
        text-align: center;
    }

    .tab-modal-link a {
        color:rgb(252, 227, 6);
        font-size: 20px;   
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .tab-modal-link a:hover {
        color: white;
        padding: 0.2em;
    }

    .signout {
        display: none;
    }
    
}
/*SmartPhones*/
@media (min-width: 1px) and (max-width: 479px) {
    .slide-dashboard {
        background-position: center;
    }

    .blur2 {
        width: 90%;
    }

    img {
        margin-left: 40%;
    }

    .hamburger {
        display: inline;
        position: absolute;
        left: 75%;
        padding: 0;
        font-size: 30px;
    }

      
    .tab-modal {
        background-color: rgba(93, 81, 134, 0.7);
        position: fixed;
        top: 4.5em;
        right: 0;
        height: 65vh;
        width: 50%;
        z-index: 2;
    }

    .tab-modal-link {
        margin-top: 10%;
        padding-top: 15px;
        text-align: center;
    }

    .tab-modal-link a {
        color:rgb(252, 227, 6);
        font-size: 20px;   
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .tab-modal-link a:hover {
        color: white;
        padding: 0.2em;
    }

    .signout {
        display: none;
    }
    
}