* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgba(243, 38, 38, 0.7);
    cursor: pointer;
}

.blur {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 255, 255, 0.45);
    height: 100vh;
    width: 100%;
    margin: -1.3em 0 0 0;
    padding: 0;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url('../images/fast-food-fast-1.png') no-repeat 0 -12em;
    background-size: cover;
    background-attachment: fixed;
}

body p {
    color: white;
    font-size: 40px;
    font-family: cursive;
}

button {
    background-color: rgb(230, 73, 73);
    color: white;
    border-radius: 5px;
    width: 30%;
    height: 45px;
    margin: 0 auto;
    outline: none;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
    border-radius: 5px;
}

button:hover {
    opacity: 0.7;
    border: 0;
    color: white;
}

.card {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: gray;
    margin: -0.2em 0 0 2.5%;
    width: 10.88em;
    padding: 0.1em 0 0.2em 0.1em; 
}

.card-btn {
    width: 70%;
    margin-left: 6%;
}

.centre {
    text-align: center;
    font-size: 40px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: red;
}

.grid {
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* display: grid;
    grid-template-columns: auto auto auto; */

}

.grid-items {
    width: 31%;
    margin: 1.1%;
    text-align: center;
}

.grid-items p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    background-color: white;
    position: absolute;
    left: 0;
    height: 10vh;
    width: 100%;
    padding-top: 20px;
}

form {
    margin-left: 10%;
}

.get-started {
    background-color: rgb(230, 73, 73);
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 45px;
    margin: 0 auto;
    outline: none;
    font-size: 20px;
    border: 0;
}

.hamburger {
    display: none;
    width: 8%;
}

.history {
    font-size: 20px;
    margin-left: 3%;
    color: white;
}

.history:hover {
    color: red;
}

img {
    height: 80px;
    width: 6em;
}

.img-big {
    height: 200px;
    width: 17em;
    border-radius: 5px 5px 0 0;
}

.login{ 
    width: 10%;
    font-size: 20px;
    color: white;
}

.logo {
    height: 25px;
    width: 3%;
}

.middle {
    margin-left: 41%;
}

.nav-bar {
    font-size: 14px;
    color: red;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 10vh;
    width: 100%;
    padding: 0.44em 0 1.25em 0.44em;
    text-align: center;
}

.nav-bar button{
    margin-left: 3%;
}

.order {
    margin-left: 35%;
    font-size: 20px;
    color: white;
}

.order:hover {
    color: red;
}

p {
    font-size: 20px;
}

.show-break {
    display: none;
}


.site-name {
    font-size: 24px;
}

.slide0 {
    background: url('../images/site_image.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 95vh; 
    width: 100%; 
}

.slide0 p { 
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 16% 0 0 0; 
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: rgba(83, 9, 9, 0.65);
    /*color: wheat;*/
    font-weight: bold;
}

.slide1 {
    background-color: white;
    height: 100vh; 
    width: 100%;
    margin-top: 0; 
}

.slide1 p { 
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 8% 0 0 8%;
    color:black; 
    margin: 0;
}

.slide2 {
    background-color: rgba(0, 255, 255, 0.9);
    height: 47em; 
    width: 100%;   
}

.slide2 .grid {
    margin-left: 5%;
    grid-column-gap: 2em;
}


.slide2 p { 
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 2% 5% 5% 5%;  
    margin: 0; 
    color:black; 
}

.sub-description {
    font-size: 26px;
    /*color: rgba(83, 9, 9, 0.5);*/
    color: rgb(100, 68, 14);
}

.sub-description2 {
    color: rgb(209, 138, 5);
    font-weight: bold;
    font-size: 30px;
}

.tab-modal {
    display: none;
}

.text-small {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.up-arrow {
    position: absolute;
    right: 2em;
    bottom: 0.1em;
    font-size: 50px;
    color: rgba(99, 87, 87, 0.7);
}


/* High resolution laptops */
@media (min-width: 1366px) {

    body {
        background-position: 0 -16em;
    }

    .card {
        margin: -0.2em 0 0 14.2%;
    }
    
    .slide0 p {
        padding: 15% 0 0 0;
    }
}

/* High resolution tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    
    body {
        width: 100%;
        padding: 0;
        margin: 0;
        background: url('../images/fast-food-fast-1.png') no-repeat 0 -8em;
        background-size: cover;
        background-attachment: fixed;
    }

    .centre {
        text-align: center;
        font-size: 40px;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: red;
    }

    .card {
        margin: -0.2em 0 0 0.8%;
    }

    .card-btn {
        width: 30%;
    }

    .hamburger {
        display: inline;
        position: absolute;
        left: 84%;
        padding: 0;
        font-size: 30px;
    }

    .history, .login, .order {
        display: none;
    }

    .img-big {
        height: 350px;
        width: 35em;
        border-radius: 5px 5px 0 0;
    }
    
    .middle {
        margin-left: 40%;
    }

    .nav-bar {
        text-align: unset;
    }

    .show-break {
        display: block;
    }

    .slide0 p {
        font-size: 40px;
        padding-top: 23%;
    }

    .slide1 {
        margin-top: 0; 
    }

    .slide1 .grid {
        margin-left: 2%;
    }

    .slide2 {
        height: 122em;
    }

    .slide2 .grid {
        display: block;
    }

    .slide2 .grid-items {
        margin: 0 9%;
    }
 
    .sub-description {
        font-size: 21px;
    }
    
    .sub-description2 {
        font-size: 23px;
    }
        
    .tab-modal {
        background-color: rgba(93, 81, 134, 0.5);
        position: fixed;
        top: 4.5em;
        right: 0;
        height: 43vh;
        width: 40%;
    }

    .tab-modal-link {
        margin-top: 10%;
        padding-top: 15px;
        text-align: center;
    }

    .tab-modal-link a {
        color:rgb(252, 227, 6);
        font-size: 20px;   
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .tab-modal-link a:hover {
        color: white;
        padding: 0.2em;
    }

    .card {
        width: 22.4em;
    }
    
}

/*Low resolution Tablets*/
@media (min-width: 481px) and (max-width: 767px) {

    body {
        width: 100%;
        padding: 0;
        margin: 0;
        background: url('../images/fast-food-fast-1.png') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    .centre {
        text-align: center;
        font-size: 40px;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: red;
    }

    .card-btn {
        width: 40%;
    }

    .grid {
        display: block;
    }

    .get-started {
        width: 40%;
    }

    .hamburger {
        display: inline;
        position: absolute;
        left: 84%;
        padding: 0;
        font-size: 30px;
    }

    .history, .login, .order {
        display: none;
    }
   
    .logo {
        width: 6%;
    }
        
    .middle {
        margin-left: 32%;
    }

    .nav-bar {
        text-align: unset;
    }


    .slide0 p { 
        padding: 30% 0 0 8%; 
        font-size: 33px;
    }

    .slide1 {
        height: 84em;
    }

    .slide1 .grid-items {
        margin: 0 35%;
    }

    .slide2 {
        height: 90em;
    }

    .slide2 .centre {
        margin-left: 7%;
    }
    
    .slide2 .grid-items {
        margin: 0 19%;
    }

    .slide2 .img-big {
        height: 200px;
    }
  
    .tab-modal {
        background-color: rgba(93, 81, 134, 0.5);
        position: fixed;
        top: 4.5em;
        right: 0;
        height: 43vh;
        width: 40%;
    }

    .tab-modal-link {
        margin-top: 10%;
        padding-top: 15px;
        text-align: center;
    }

    .tab-modal-link a {
        color:rgb(252, 227, 6);
        font-size: 20px;   
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .tab-modal-link a:hover {
        color: white;
        padding: 0.2em;
    }

    .show-break {
        display: block;
    }
    
    .sub-description {
        font-size: 19px;
    }
    
    .sub-description2 {
        font-size: 21px;
    }

    .up-arrow {
        right: 1em;
        bottom: 0;
    }

}
/*SmartPhones*/
@media (min-width: 1px) and (max-width: 480px) {

    body {
        width: 100%;
        padding: 0;
        margin: 0;
        background: url('../images/fast-food-fast-1.png') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    .card {
        width: 15.1em;
        margin: -0.2em 0 0 0.7%;
    }


    .centre {
        text-align: center;
        font-size: 40px;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: red;
    }

    .card-btn {
        width: 35%;
    }

    .grid {
        display: block;
    }

    .get-started {
        width: 40%;
    }

    .hamburger {
        display: inline;
        position: absolute;
        left: 84%;
        padding: 0;
        font-size: 25px;
    }

    .history, .login, .order {
        display: none;
    }
   
    .logo {
        width: 8%;
    }
        
    .middle {
        margin-left: 32%;
    }

    .nav-bar {
        text-align: unset;
    }

    .show-break {
        display: block;
    }

    .slide0 p { 
        padding: 45% 0 0 0; 
        font-size: 25px;
    }

    .slide1 {
        height: 105em;
        margin-top: 0;
    }

    .slide1 .grid-items {
        margin: 0 33%;
    }


    .slide2 {
        height: 92em;
    }

    .slide2 .centre {
        margin-left: 1%;
        font-size: 30px;
    }

    .slide2 .grid-items {
        margin-left: 3%;
    }

    .slide2 .img-big {
        height: 200px;
    }

    .slide2 .card {
        font-size: 18px;
    }

    .sub-description {
        font-size: 17px;
    }
    
    .sub-description2 {
        font-size: 19px;
    }

    .tab-modal {
        background-color: rgba(93, 81, 134, 0.5);
        position: fixed;
        top: 4.5em;
        right: 0;
        height: 43vh;
        width: 40%;
    }

    .tab-modal-link {
        margin-top: 10%;
        padding-top: 15px;
        text-align: center;
    }

    .tab-modal-link a {
        color:rgb(252, 227, 6);
        font-size: 20px;   
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .tab-modal-link a:hover {
        color: white;
        padding: 0.2em;
    }

    .up-arrow {
        right: 0.5em;
        bottom: 0;
    }
}