* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.accept-btn {
    background-color: rgba(111, 50, 192, 0.5);
    color: white;
    width: 80%;
    margin-left: 0;
    height: 2.8em;
    outline: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
}

a:hover {
    color: rgba(243, 38, 38, 0.7);
    cursor: pointer;
}

.app-description {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10% 5% 0 5%;
    font-size: 25px;
    color: rgb(122, 110, 110);
    width: 80%;
    margin: 0 auto; 
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif;
}

.app-description a {
    font-size: 50px;
}

body {
    padding: 0;
    margin: 0;
}

body p {
    color: white;
    font-size: 40px;
    font-family: cursive;
}

button {
    background-color: rgb(230, 73, 73);
    color: white;
    border-radius: 5px;
    width: 10%;
    height: 45px;
    margin-left: 38%;
    outline: none;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
    border-radius: 5px;
}

button:hover {
    opacity: 0.7;
    border: 0;
    color: white;
}

.feedback {
    display: none;
    background-color: plum;
    padding: 0.3em 0 0 0.4em;
    border-radius: 3px;
    height: 5vh;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.feedback2 {
    display: none;
    background-color: rgb(236, 83, 236);
    position: relative;
    top: 1em;
    padding: 0.3em 0 0 0.4em;
    border-radius: 3px;
    height: 5vh;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.feedback3 {
    display: none;
    margin-left: 0;
    background-color: plum;
    padding: 0.3em 0 0 0.4em;
    border-radius: 3px;
    height: 5vh;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.feedback4 {
    display: none;
    background-color: plum;
    padding: 0.3em 0 0 0.4em;
    border-radius: 3px;
    height: 5vh;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

.flex {
    display: flex;
}

form {
    margin-left: 10%;
}

input {
    height: 47px;
    width: 100%;
    outline: none;
    border: 1.5px solid rgba(0,0,255,0.3);
    text-overflow: ellipsis;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

input:focus {
    box-shadow: 1px 0px 6px 2px rgba(116, 116, 199, 0.5);
}

.logo {
    height: 35px;
    width: 5%;
}

.modal {
    background-color: rgba(0,0,0,0.95);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: none;
}

.modal p {
    margin-top: 10%;
    text-align: center;
    color:rgb(252, 227, 6);
    font-size: 30px;   
    font-family: 'Ubuntu Condensed', sans-serif;
}

.modal button {
    margin-left: 45%;
    width: 12%;
}

p {
    font-size: 20px;
}

.slide-signup {
    background: url('../images/fast-food-fast-1.png') no-repeat -330px -160px;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
    width: 100%; 
}

.slide-signup p { 
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 12% 0 0 8%; 
    margin: 0;
}

.signup-box {
    background-color: rgb(255, 255, 255);
    padding: 0 2em 0 0;
    width: 80%;
    margin: 0;  
}

.signup-box p {
    color: black;
}

.signup-properties {
    padding: 0;
}

.signup-properties p {
    font-size: 23px; 
}

.signup-properties a:hover {
    opacity: 0.8;
}

.signup {
    margin-left: 10%;
    height: 45px;
    width: 90%;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;  
}

.spinner {
    width: 3%;
    height: 5vh;
    border: 6px solid plum;
    border-radius: 5px;
    animation: cyclic 1s infinite;
    display: none;
    position: absolute;
    z-index: 1;
    margin: -1.8% 0 0 30%;
}


@-webkit-keyframes cyclic {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes cyclic {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* High resolution laptops */
@media (min-width: 1366px) {
    .slide-signup {
        background: url('../images/fast-food-fast-1.png') no-repeat -380px -240px;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh; 
        width: 100%; 
    }
}

/* High resolution tablets */
@media (min-width: 768px) and (max-width: 1023px) {

    .app-description a {
        font-size: 40px;
    }

    .slide-signup {
        background: url('../images/fast-food-fast-1.png') no-repeat -220px -130px;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh; 
        width: 100%; 
    }
    
    .spinner {
        margin: -3% 0 0 30%;
    }
    
    
}
/*Low resolution Tablets*/
@media (min-width: 480px) and (max-width: 767px) {
    
    .app-description {
        padding: 1% 5% 1% 5%;
        font-size: 20px;
        background-color: unset;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    } 

    .app-description a {
        font-size: 30px;
    }

    .flex {
        display: block;
    }

    .slide-signup {
        background: url('../images/fast-food-fast-1.png') no-repeat center;
        background-size: cover;
        height: 43em; 
        width: 100%; 
    }

    .signup-box {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0 2em 2em 0;
        width: 80%;
        margin: 0 auto; 
        border-radius: 5px; 
    }

    .spinner {
        width: 5%;
        height: 6vh;
        margin: -5.1% 0 0 50%;
    }

}
/*SmartPhones*/
@media (min-width: 1px) and (max-width: 479px) {
    .app-description {
        padding: 1% 5% 1% 5%;
        font-size: 18px;
        color: white;
        background-color: unset;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    } 

    .app-description a {
        font-size: 28px;
    }

    .feedback, .feedback2 {
        height: 10vh;
    }

    .form .feedback3 {
        height: 8vh;
        margin-left: 0;
    }

    .signup-box .feedback4 {
        height: 20vh;
        overflow-x: scroll;
    }

    .flex {
        display: block;
    }

    .logo {
        width: 8%;
    }

    .modal p {
        font-size: 20px;  
    }

    .slide-signup {
        background: url('../images/fast-food-fast-1.png') no-repeat center;
        background-size: cover;
        height: 44em;  
        width: 100%; 
    }

    .signup-box {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0 2em 1em 0;
        width: 80%;
        margin: 0 auto; 
        border-radius: 5px;
    }

    .signup-properties p{
        font-size: 20px;
    }
    
    .spinner {
        width: 6%;
        height: 5vh;
        margin: -7.1% 0 0 50%;
    }
}